*{
    margin: 0;
    padding: 0;
    
}
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Roboto:wght@100&display=swap');
nav{
    background-color: black;
    color: azure;
    height: 92px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-family: 'Roboto', sans-serif;
}
nav ul{
    list-style: none;
    font-size: 20px;

}
.gamecontainer{
    background-color: transparent;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    position: relative;
    
}
.container{
    display: grid;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3,10vw);
    font-family: 'Roboto', sans-serif;
}
.box{
    border: 2px solid black;
    
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
    background-color: rgb(243, 190, 243);
}
.gameinfo{
    padding: 23px;
    margin: 24px;
    font-family: 'Baloo Thambi 2', cursive;
}
.imgbox img{
    width: 0;
    transition: width 1s ease-in-out;
}
.br-0{
    border-right: 0;
}
.bt-0{
    border-top: 0;
}
.bl-0{
    border-left: 0;
}
.bb-0{
 border-bottom: 0;
}
.info{
    font-size: 30px;
    text-decoration: solid;
    text-transform: capitalize;
}
button{
    margin: 0 23px;
    padding: 6px 14px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bolder;
}
button:hover{
    background-color: rgb(1, 7, 0);
    color: aliceblue;
}
.line{
    width: 0;
    background-color: rgb(236, 163, 221);
    height: 5px;
    position: absolute;
    transition: width 1s ease-in-out;
}
@media screen and (max-width: 900px){
    .gamecontainer{
        flex-wrap: wrap;
    }
    .gameinfo{
        margin-top: 34px;
    }
    h1{
        font-size: 1.5rem;
    }
    .container{ 
        grid-template-columns: repeat(3,20vw);
        grid-template-rows: repeat(3,20vw);        

    }
    .info{
        font-size: 1rem;
    }
}